#appname: popupmenu
#publisher: Andrey Tkachenko
#url: https://github.com/falkolab/Titanium-PopupMenu-Demo
#image: appicon.png
#appid: com.falkolab.popupmenu
#desc: Demo app for com.falkolab.popupmenu widget
#type: ipad
#guid: 
